<div
	class="bg-cover bg-no-repeat bg-center py-36"
	style="background-image: url(&quot;/assets/banner-bg.jpg&quot;)"
>
	<div class="container">
		<h1 class="text-6xl text-gray-800 font-medium mb-4">
			Sakura Eco-Moda
		</h1>
		<h2 class="text-lg text-gray-800 font-medium mb-4">
			Vistiendo el Futuro, Cuidando el Planeta: Sakura Eco-Moda
		</h2>
		<p>
			Compramos telas recicladas a proveedores reputables y creamos nuestros diseños propios. Nuestros productos son hechos a mano por artesanos locales, y son de la más alta calidad.
		</p>
		<div class="mt-12">
			<a
				href="#"
				class="bg-primary border border-primary text-white px-8 py-3 font-medium rounded-md hover:bg-transparent hover:text-primary hover:bg-white"
				>Descubri más</a
			>
		</div>
	</div>
</div>