<div
	class="bg-cover bg-no-repeat bg-center py-36"
	style="background: slateblue"
>
	<div class="container">
		<h1 class="text-6xl text-gray-800 font-medium mb-4 capitalize">
			Estilos ISMA
		</h1>
		<p>
			Buscamos generar un comercio mas fácil y accesible e innovador sobre merchandising escolar
		</p>
		<div class="mt-12">
			<a
				href="#"
				class="bg-primary border border-primary text-white px-8 py-3 font-medium rounded-md hover:bg-transparent hover:text-primary hover:bg-white"
				>Comprar Ahora</a
			>
		</div>
	</div>
</div>