<div class="container py-16">
	<div
		class="w-10/12 grid grid-cols-1 md:grid-cols-3 gap-6 mx-auto justify-center"
	>
		<div
			class="border border-primary rounded-sm px-3 py-6 flex justify-center items-center gap-5"
		>
			<i class="fa fa-truck text-primary fa-3x"></i>
			<div>
				<h4 class="font-medium capitalize text-lg">Envio gratis</h4>
				<p class="text-gray-500 text-sm">En compras mayores a $10.000</p>
			</div>
		</div>
		<div
			class="border border-primary rounded-sm px-3 py-6 flex justify-center items-center gap-5"
		>
			<i class="fa fa-money-bill-transfer text-primary fa-3x"></i>
			<div>
				<h4 class="font-medium capitalize text-lg">Devoluciones</h4>
				<p class="text-gray-500 text-sm">Devoluciones sin preguntas hasta 30 dias despues de tu compra</p>
			</div>
		</div>
		<div
			class="border border-primary rounded-sm px-3 py-6 flex justify-center items-center gap-5"
		>
			<i class="fa fa-headphones text-primary fa-3x"></i>
			<div>
				<h4 class="font-medium capitalize text-lg">Ropa 100% reciclada</h4>
				<p class="text-gray-500 text-sm">Nuestros productos son hechos a mano por artesanos locales, y con telas recicladas de proveedores reputables.</p>
			</div>
		</div>
	</div>
</div>