{% extends "base.html" %}{% block title %}Sakura Eco-Moda{% endblock %}

{% block content%}

{% include "navigation.html" %}

{% include "banner.html" %}

{% include "categories.html" %}

<div class="container pb-16">
	<h2 class="text-2xl font-medium text-gray-800 uppercase mb-6">
		Lo más nuevo
	</h2>
	<div class="grid grid-cols-1 md:grid-cols-4 gap-6">
		<div class="bg-white shadow rounded overflow-hidden group">
			<a href="#" class="relative">
				<img
					src="/assets/products/product1.jpg"
					alt="product 1"
					class="w-full h-80 object-cover"
				/>
				<div
					class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition"
				>
				</div>
			</a>
			<div class="pt-4 pb-3 px-4">
				<a href="#">
					<h4
						class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition"
					>
						Blazer
					</h4>
				</a>
				<div class="flex items-baseline mb-1 space-x-2">
					<p class="text-xl text-primary font-semibold">$60.000</p>
				</div>
				<div class="flex items-center">
					<div class="flex gap-1 text-sm text-yellow-400">
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star text-gray-500"></i></span>
						<span><i class="fa-solid fa-star text-gray-500"></i></span>
					</div>
					<div class="text-xs text-gray-500 ml-3">(20)</div>
				</div>
			</div>
			<div class="flex">
				<button
					href="#"
					class="mr-1 block w-full py-1 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition"
					>Agregar al carrito
				</button>
				<button
					href="#"
					class="ml-1 block w-full py-1 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition"
					>Agregar a favoritos
				</button>
			</div>
		</div>
		<div class="bg-white shadow rounded overflow-hidden group">
			<a href="#" class="relative">
				<img
					src="/assets/products/product2.jpg"
					alt="product 2"
					class="w-full h-80 object-cover"
				/>
				<div
					class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition"
				>
				</div>
			</a>
			<div class="pt-4 pb-3 px-4">
				<a href="#">
					<h4
						class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition"
					>
						Pantalon Cargo Marron
					</h4>
				</a>
				<div class="flex items-baseline mb-1 space-x-2">
					<p class="text-xl text-primary font-semibold">$20.000</p>
					<p class="text-sm text-gray-400 line-through">$25.000</p>
				</div>
				<div class="flex items-center">
					<div class="flex gap-1 text-sm text-yellow-400">
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star text-gray-500"></i></span>
					</div>
					<div class="text-xs text-gray-500 ml-3">(123)</div>
				</div>
			</div>
			<div class="flex">
				<button
					href="#"
					class="mr-1 block w-full py-1 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition"
					>Añadir al carrito
				</button>
				<button
					href="#"
					class="ml-1 block w-full py-1 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition"
					>Añadir a favoritos
				</button>
			</div>
		</div>
		<div class="bg-white shadow rounded overflow-hidden group">
			<a href="#" class="relative">
				<img
					src="/assets/products/product3.jpg"
					alt="product 3"
					class="w-full h-80 object-cover"
				/>
				<div
					class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition"
				>
				</div>
			</a>
			<div class="pt-4 pb-3 px-4">
				<a href="#">
					<h4
						class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition"
					>
						Remera Blanca
					</h4>
				</a>
				<div class="flex items-baseline mb-1 space-x-2">
					<p class="text-xl text-primary font-semibold">$10.000</p>
				</div>
				<div class="flex items-center">
					<div class="flex gap-1 text-sm text-yellow-400">
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star text-gray-500"></i></span>
					</div>
					<div class="text-xs text-gray-500 ml-3">(23)</div>
				</div>
			</div>
			<div class="flex">
				<button
					href="#"
					class="mr-1 block w-full py-1 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition"
					>Añadir al carrito
				</button>
				<button
					href="#"
					class="ml-1 block w-full py-1 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition"
					>Añadir a favoritos
				</button>
			</div>
		</div>
		<div class="bg-white shadow rounded overflow-hidden group">
			<a href="#" class="relative">
				<img
					src="/assets/products/product4.jpg"
					alt="product 4"
					class="w-full h-80 object-cover"
				/>
				<div
					class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition"
				>
				</div>
			</a>
			<div class="pt-4 pb-3 px-4">
				<a href="#">
					<h4
						class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition"
					>
					Jean Gastado Mom
					</h4>
				</a>
				<div class="flex items-baseline mb-1 space-x-2">
					<p class="text-xl text-primary font-semibold">$25.000</p>
					<p class="text-sm text-gray-400 line-through">$22.000</p>
				</div>
				<div class="flex items-center">
					<div class="flex gap-1 text-sm text-yellow-400">
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star text-gray-500"></i></span>
						<span><i class="fa-solid fa-star text-gray-500"></i></span>
					</div>
					<div class="text-xs text-gray-500 ml-3">(223)</div>
				</div>
			</div>
			<div class="flex">
				<button
					href="#"
					class="mr-1 block w-full py-1 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition"
					>Añadir al carrito
				</button>
				<button
					href="#"
					class="ml-1 block w-full py-1 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition"
					>Añadir a favoritos
				</button>
			</div>
		</div>
	</div>
</div>

{% include "offer.html" %}

<div class="container pb-16">
	<h2 class="text-2xl font-medium text-gray-800 uppercase mb-6">
		Recomendados para vos
	</h2>
	<div class="grid grid-cols-2 md:grid-cols-4 gap-6">
		<div class="bg-white shadow rounded overflow-hidden group">
			<a href="#" class="relative">
				<img
					src="/assets/products/product5.jpg"
					alt="product 5"
					class="w-full h-80 object-cover"
				/>
				<div
					class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition"
				>
				</div>
			</a>
			<div class="pt-4 pb-3 px-4">
				<a href="#">
					<h4
						class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition"
					>
					Campera Nylon Deportiva
					</h4>
				</a>
				<div class="flex items-baseline mb-1 space-x-2">
					<p class="text-xl text-primary font-semibold">$45.000</p>
					<p class="text-sm text-gray-400 line-through">$55.000</p>
				</div>
				<div class="flex items-center">
					<div class="flex gap-1 text-sm text-yellow-400">
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star text-gray-500"></i></span>
					</div>
					<div class="text-xs text-gray-500 ml-3">(24)</div>
				</div>
			</div>
			<div class="flex">
				<button
					href="#"
					class="mr-1 block w-full py-1 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition"
					>Añadir al carrito
				</button>
				<button
					href="#"
					class="ml-1 block w-full py-1 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition"
					>Añadir a favoritos
				</button>
			</div>
		</div>
		<div class="bg-white shadow rounded overflow-hidden group">
			<a href="#" class="relative">
				<img
					src="/assets/products/product6.jpg"
					alt="product 6"
					class="w-full h-80 object-cover"
				/>
				<div
					class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition"
				>
				</div>
			</a>
			<div class="pt-4 pb-3 px-4">
				<a href="#">
					<h4
						class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition"
					>
					Saco de Lana
					</h4>
				</a>
				<div class="flex items-baseline mb-1 space-x-2">
					<p class="text-xl text-primary font-semibold">$24.000</p>
				</div>
				<div class="flex items-center">
					<div class="flex gap-1 text-sm text-yellow-400">
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star text-gray-500"></i></span>
					</div>
					<div class="text-xs text-gray-500 ml-3">(43)</div>
				</div>
			</div>
			<div class="flex">
				<button
					href="#"
					class="mr-1 block w-full py-1 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition"
					>Añadir al carrito
				</button>
				<button
					href="#"
					class="ml-1 block w-full py-1 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition"
					>Añadir a favoritos
				</button>
			</div>
		</div>
		<div class="bg-white shadow rounded overflow-hidden group">
			<a href="#" class="relative">
				<img
					src="/assets/products/product7.jpg"
					alt="product 7"
					class="w-full h-80 object-cover"
				/>
				<div
					class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition"
				>
				</div>
			</a>
			<div class="pt-4 pb-3 px-4">
				<a href="#">
					<h4
						class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition"
					>
					Campera de Jean
					</h4>
				</a>
				<div class="flex items-baseline mb-1 space-x-2">
					<p class="text-xl text-primary font-semibold">$30.000</p>
				</div>
				<div class="flex items-center">
					<div class="flex gap-1 text-sm text-yellow-400">
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star text-gray-500"></i></span>
					</div>
					<div class="text-xs text-gray-500 ml-3">(102)</div>
				</div>
			</div>
			<div class="flex">
				<button
					href="#"
					class="mr-1 block w-full py-1 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition"
					>Añadir al carrito
				</button>
				<button
					href="#"
					class="ml-1 block w-full py-1 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition"
					>Añadir a favoritos
				</button>
			</div>
		</div>
		<div class="bg-white shadow rounded overflow-hidden group">
			<a href="#" class="relative">
				<img
					src="/assets/products/product8.jpg"
					alt="product 8"
					class="w-full h-80 object-cover"
				/>
				<div
					class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition"
				>
				</div>
			</a>
			<div class="pt-4 pb-3 px-4">
				<a href="#">
					<h4
						class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition"
					>
					Buzo Blanco sin capucha
					</h4>
				</a>
				<div class="flex items-baseline mb-1 space-x-2">
					<p class="text-xl text-primary font-semibold">$45.000</p>
				</div>
				<div class="flex items-center">
					<div class="flex gap-1 text-sm text-yellow-400">
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star text-gray-500"></i></span>
					</div>
					<div class="text-xs text-gray-500 ml-3">(170)</div>
				</div>
			</div>
			<div class="flex">
				<button
					href="#"
					class="mr-1 block w-full py-1 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition"
					>Añadir al carrito
				</button>
				<button
					href="#"
					class="ml-1 block w-full py-1 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition"
					>Añadir a favoritos
				</button>
			</div>
		</div>
		<div class="bg-white shadow rounded overflow-hidden group">
			<a href="#" class="relative">
				<img
					src="/assets/products/product9.jpg"
					alt="product 9"
					class="w-full h-80 object-cover"
				/>
				<div
					class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition"
				>
				</div>
			</a>
			<div class="pt-4 pb-3 px-4">
				<a href="#">
					<h4
						class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition"
					>
						Camisa Celeste
					</h4>
				</a>
				<div class="flex items-baseline mb-1 space-x-2">
					<p class="text-xl text-primary font-semibold">$20.000</p>
				</div>
				<div class="flex items-center">
					<div class="flex gap-1 text-sm text-yellow-400">
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star text-gray-500"></i></span>
					</div>
					<div class="text-xs text-gray-500 ml-3">(124)</div>
				</div>
			</div>
			<div class="flex">
				<button
					href="#"
					class="mr-1 block w-full py-1 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition"
					>Agregar al Carrito
				</button>
				<button
					href="#"
					class="ml-1 block w-full py-1 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition"
					>Agregar a Favoritos
				</button>
			</div>
		</div>
		<div class="bg-white shadow rounded overflow-hidden group">
			<a href="#" class="relative">
				<img
					src="/assets/products/product10.jpg"
					alt="product 10"
					class="w-full h-80 object-cover"
				/>
				<div
					class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition"
				>
				</div>
			</a>
			<div class="pt-4 pb-3 px-4">
				<a href="#">
					<h4
						class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition"
					>
						Remera Grabada
					</h4>
				</a>
				<div class="flex items-baseline mb-1 space-x-2">
					<p class="text-xl text-primary font-semibold">$10.000</p>
				</div>
				<div class="flex items-center">
					<div class="flex gap-1 text-sm text-yellow-400">
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star text-gray-500"></i></span>
					</div>
					<div class="text-xs text-gray-500 ml-3">(120)</div>
				</div>
			</div>
			<div class="flex">
				<button
					href="#"
					class="mr-1 block w-full py-1 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition"
					>Agregar al Carrito
				</button>
				<button
					href="#"
					class="ml-1 block w-full py-1 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition"
					>Agregar a Favoritos
				</button>
			</div>
		</div>
		<div class="bg-white shadow rounded overflow-hidden group">
			<a href="#" class="relative">
				<img
					src="/assets/products/product11.jpg"
					alt="product 11"
					class="w-full h-80 object-cover"
				/>
				<div
					class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition"
				>
				</div>
			</a>
			<div class="pt-4 pb-3 px-4">
				<a href="#">
					<h4
						class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition"
					>
						Campera de Simil-Cuero
					</h4>
				</a>
				<div class="flex items-baseline mb-1 space-x-2">
					<p class="text-xl text-primary font-semibold">$45.000</p>
				</div>
				<div class="flex items-center">
					<div class="flex gap-1 text-sm text-yellow-400">
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star text-gray-500"></i></span>
					</div>
					<div class="text-xs text-gray-500 ml-3">(36)</div>
				</div>
			</div>
			<div class="flex">
				<button
					href="#"
					class="mr-1 block w-full py-1 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition"
					>Agregar al Carrito
				</button>
				<button
					href="#"
					class="ml-1 block w-full py-1 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition"
					>Agregar a Favoritos
				</button>
			</div>
		</div>
		<div class="bg-white shadow rounded overflow-hidden group">
			<a href="#" class="relative">
				<img
					src="/assets/products/product12.jpg"
					alt="product 12"
					class="w-full h-80 object-cover"
				/>
				<div
					class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition"
				>
				</div>
			</a>
			<div class="pt-4 pb-3 px-4">
				<a href="#">
					<h4
						class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition"
					>
						Jeans Skinny Claros
					</h4>
				</a>
				<div class="flex items-baseline mb-1 space-x-2">
					<p class="text-xl text-primary font-semibold">$20.000</p>
				</div>
				<div class="flex items-center">
					<div class="flex gap-1 text-sm text-yellow-400">
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star"></i></span>
						<span><i class="fa-solid fa-star"></i></span>
					</div>
					<div class="text-xs text-gray-500 ml-3">(65)</div>
				</div>
			</div>
			<div class="flex">
				<button
					href="#"
					class="mr-1 block w-full py-1 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition"
					>Agregar al Carrito
				</button>
				<button
					href="#"
					class="ml-1 block w-full py-1 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition"
					>Agregar a Favoritos
				</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}