<header class="py-4 shadow-sm bg-white">
	<div class="px-4 flex items-center justify-between">
		<a href="index.html">
			<img src="/assets/isologo.png" alt="Logo" class="w-44" />
		</a>

		<div class="w-full max-w-xl max-md:hidden relative flex">
			<span class="absolute left-4 top-3 text-lg text-gray-400">
				<i class="fa-solid fa-magnifying-glass"></i>
			</span>
			<input
				type="text"
				name="search"
				id="search"
				class="w-full border border-primary border-r-0 pl-12 py-3 pr-3 rounded-l-md focus:outline-none hidden md:flex items-center"
				placeholder="Buscar"
			/>
			<button
				class="bg-primary border border-primary text-white px-8 rounded-r-md hover:bg-transparent hover:text-primary transition hidden md:flex items-center"
			>
				Buscar
			</button>
		</div>

		<div class="flex items-center space-x-4">
			<a
				href="#"
				class="text-center text-gray-700 hover:text-primary transition relative"
			>
				<div class="text-2xl">
					<i class="fa-regular fa-heart"></i>
				</div>
				<div class="w-12 text-xs leading-3">Favoritos</div>
				<div
					class="absolute right-0 -top-1 w-5 h-5 rounded-full flex items-center justify-center bg-primary text-white text-xs"
				>
					8
				</div>
			</a>
			<a
				href="#"
				class="text-center text-gray-700 hover:text-primary transition relative"
			>
				<div class="text-2xl">
					<i class="fa-solid fa-bag-shopping"></i>
				</div>
				<div class="w-12 text-xs leading-3">Carrito</div>
				<div
					class="absolute -right-3 -top-1 w-5 h-5 rounded-full flex items-center justify-center bg-primary text-white text-xs"
				>
					2
				</div>
			</a>
			<a
				href="#"
				class="text-center text-gray-700 hover:text-primary transition relative"
			>
				<div class="text-2xl">
					<i class="fa-regular fa-user"></i>
				</div>
				<div class="w-12 text-xs leading-3">Mi Cueta</div>
			</a>
			<div class="container flex">
				<div
					class="px-4 py-2 bg-primary md:flex items-center cursor-pointer relative group hidden"
				>
					<span class="text-white">
						<i class="fa-solid fa-bars"></i>
					</span>
					<div
						class="absolute right-0 top-full bg-white shadow-md py-3 divide-y divide-gray-300 divide-dashed opacity-0 group-hover:opacity-100 transition duration-300 invisible group-hover:visible w-44"
					>
						<a
							href="#"
							class="flex items-center px-6 py-3 hover:bg-gray-100 transition"
						>
							<i class="fa text-primary fa-ring"></i>
							<span class="ml-6 text-gray-600 text-sm">Jeans</span>
						</a>
						<a
							href="#"
							class="flex items-center px-6 py-3 hover:bg-gray-100 transition"
						>
						<i class="fa-solid fa-person-dress"></i>
							<span class="ml-6 text-gray-600 text-sm">Vestidos</span>
						</a>
						<a
							href="#"
							class="flex items-center px-6 py-3 hover:bg-gray-100 transition"
						>
							<i class="fa-solid fa-shoe-prints"></i>
							<span class="ml-6 text-gray-600 text-sm">Urbana</span>
						</a>
						<a
							href="#"
							class="flex items-center px-6 py-3 hover:bg-gray-100 transition"
						>
						<i class="fa-solid fa-shirt"></i>
							<span class="ml-6 text-gray-600 text-sm">Remeras</span>
						</a>
						<a
							href="#"
							class="flex items-center px-6 py-3 hover:bg-gray-100 transition"
						>
						<i class="fa-solid fa-user-tie"></i>
							<span class="ml-6 text-gray-600 text-sm">Camisas</span>
						</a>
						<a
							href="#"
							class="flex items-center px-6 py-3 hover:bg-gray-100 transition"
						>
						<i class="fa-solid fa-vest"></i>
							<span class="ml-6 text-gray-600 text-sm">Camperas</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>